body{
    background: linear-gradient(180deg, #ffffff, #ffd6e8);
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    overflow: hidden;
    margin: 0;
    height: 100vh;
}

button{
    padding: 10px 20px;
    font-size: 16px;
}

.parte-central {
    position: relative;
    z-index: 10;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parte-central img {
    width: 260px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}


#btnEmpezar {
    padding: 12px 26px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    background-color: #ff4d6d;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

#btnEmpezar:hover {
    background-color: #ff335c;
    transform: scale(1.05);
}


.corazon {
    position: absolute;
    bottom: -50px;
    width: 30px;
    height: 30px;
    background-color: #ff4d6d;
    transform: rotate(-45deg);
    animation: flotar 6s linear forwards;
    z-index: 1;
    opacity: 0.8;
}


.corazon::before,
.corazon::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #ff4d6d;
    border-radius: 50%;
}


.corazon::before {
    top: -15px;
    left: 0;
}

.corazon::after {
    left: 15px;
    top: 0;
}


@keyframes flotar {
    from {
        transform: translateY(0) rotate(-45deg);
        opacity: 1;
    }
    to {
        transform: translateY(-120vh) rotate(-45deg);
        opacity: 0;
    }
}

